.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    margin: 50px;

    @media screen and (max-width: 800px) {
      font-size: 3rem;
    }
  }
  .aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    .picture {
      width: 50%;
      height: 100%;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .aboutText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #fff;
      width: 50%;
      height: 100%;
      margin: 2rem;

      @media screen and (max-width: 800px) {
        width: 100%;
        align-items: center;
      }

      .aboutMe {
        display: inline-block;
        font-size: 2rem;
        text-align: left;

        @media screen and (max-width: 800px) {
          font-size: 1.5rem;
          text-align: center;
        }
      }
      .aboutInfo {
        font-size: 1.25rem;
        margin-top: 50px;

        div {
          margin-bottom: 10px;
        }

        @media screen and (max-width: 800px) {
          text-align: center;
        }

        svg {
          color: var(--main-color);
          margin-right: 10px;
        }
      }
    }
  }
}
