.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-height: 500px;
  text-align: center;

  p {
    color: #fff;
    display: inline-block;
    span {
      display: inline-block;
      color: var(--main-color);
      margin-left: 5px;
    }
  }
}
